/* basic styles */

html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Andale Mono, monospace;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #151416;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233f372c' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
  padding-bottom: 8rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/* Nav Bar Styles */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1rem;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
  height: 5.5rem;
}

.logo,
.nav-item {
  white-space: nowrap;
  list-style: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
}

.nav-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33.3%;
  text-align: center;
}

.social-nav-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;
  padding: 0 0.15rem;
}

.logo a,
.nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
  color: #000;
}

.logo a {
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu a {
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #fff;
  transition: all ease 0.1s;
}

.nav-menu a:hover {
  border-bottom: 1px solid #000;
}

/* Top Navbar Only Styles */

.top-nav {
  background: none;
  position: fixed;
  top: 0;
}

/* Modern Browsers */
@supports (position: sticky) {
  .top-nav {
    position: -webkit-sticky; /*Safari*/
    position: sticky;
  }
}

.top-nav .logo a,
.top-nav .nav-menu a {
  color: white;
}

.top-nav .nav-menu a {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.top-nav .nav-menu a:hover {
  border-bottom: 1px solid #fff;
}

.bottom-nav a {
  color: #fff;
  border-bottom: 0;
}

.bottom-nav a:hover {
  border-bottom: 1px solid #fff;
}

/* DW Styles */

.dw-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  margin-top: -5.5rem;
}

.dw-image-box {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/*
.dw-image-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  position: absolute;
}
*/

.dw-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dw-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.dw-gif {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dw-gif {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dw-text-box {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
  text-align: center;
  padding: 1rem;
  z-index: 10;
}

.dw-heading {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  color: white;
}

.dw-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

.dw-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 2rem;
}

.dw-button:hover {
  transform: scale(0.95);
}

.dw-button:active {
  background: rgba(0, 0, 0, 0.3);
}

/* Portfolio Gallery Styles */

.portfolio-container {
  padding: 1rem auto 0 auto;
}

.portfolio-text {
  margin: 0 auto;
  padding: 0 1rem;
  color: white;
}

.portfolio-container h1 {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  padding: 20px;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-rows: 300px;
}

.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-img {
  height: 100%;
  object-fit: contain;
  transform: scale(0.9);
  transition: 0.25s ease-in-out;
  border-radius: 25%;
}

.gallery-img:hover {
  transform: scale(1);
}

/* about styles */

.about-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto 0 auto;
}

.about-text {
  margin: 0 auto;
  padding: 0 1rem;
  color: white;
}

.about-text h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.about-image img {
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  padding: 0 1rem;
}

.about-social {
  display: flex;
  justify-content: start;
}

.about-social a {
  color: white;
  padding: 0 1rem 1rem 1rem;
}

/* resume styles */

.resume-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto 0 auto;
}

.resume-text {
  margin: 0 auto;
  padding: 0 1rem;
  color: white;
}

/* contact styles */
.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem auto 0 auto;
}

.contact-text {
  margin: 0 1rem;
  padding: 0 1rem;
  color: white;
}

.contact-text h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.contact-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 2rem;
}

.section-stop {
  scroll-margin-top: 5.5rem;
}

/* add media queries for large screen */

@media (min-width: 600px) {
  .dw-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .dw-text {
    font-size: 2rem;
    line-height: 2rem;
  }
  .dw-text-box {
    padding: 2rem;
  }
  .about-container h1,
  .resume-container h1,
  .contact-container h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .portfolio-container h1 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }
  .about-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 9rem;
  }
  .about-text p,
  .portfolio-text p,
  .contact-text p,
  .resume-text p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .nav-bar {
    justify-content: center;
    line-height: 1.5rem;
    padding: 0 4rem;
  }
  .nav-menu {
    padding: 0 1rem;
  }
  .nav-item {
    flex: 1 1;
    padding: 0 0.35rem;
  }
  .section-stop {
    scroll-margin-top: 5.5rem;
  }
}

@media (min-width: 920px) {
  .dw-heading {
    font-size: 6rem;
    line-height: 6rem;
  }
  .dw-box {
    margin-top: -7.5rem;
  }
  .portfolio-container,
  .about-container,
  .resume-container,
  .contact-container {
    max-width: 1400px;
  }
  .portfolio-container h1,
  .about-text h1,
  .resume-text h1,
  .contact-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .portfolio-text p,
  .about-text p,
  .resume-text p,
  .contact-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .nav-bar {
    justify-content: center;
    padding: 2rem 5rem;
    line-height: 1rem;
    height: 7.5rem;
  }
  .nav-menu {
    width: auto;
    justify-self: end;
  }
  .top-nav {
    width: 100%;
  }
}
