/* basic styles */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/* DW Styles */

.dw-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}

.dw-image-box {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/*
.dw-image-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  position: absolute;
}
*/

.dw-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dw-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dw-gif {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dw-gif {
  background-color: #000;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dw-text-box {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
  text-align: center;
  padding: 1rem;
  z-index: 10;
}

.dw-heading {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  color: white;
}

.dw-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

/* add media queries for large screen */

@media (min-width: 600px) {
  .dw-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .dw-text {
    font-size: 2rem;
    line-height: 2rem;
  }
  .dw-text-box {
    padding: 2rem;
  }
}

@media (min-width: 920px) {
  .dw-heading {
    font-size: 6rem;
    line-height: 6rem;
  }
}
